body {
  font: 18px/1.5 'Rubik', sans-serif;
  color: #1A1B3A;
  margin: 0;
  padding: 0;
}

.container {
  width: 70%;
  margin: auto;
  overflow: hidden;
}

/*** Header Section ***/
header {
  min-height: 60px;
  max-height: 60px;
  padding-top: 10px;
  color: #1A1B3A;
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255);
}

header a {
  color: #1A1B3A;
  text-decoration: none;
  font-size: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

header li {
  float: left;
  display: inline;
  padding: 0 10px 0 10px;
}

header #branding {
  float: left;
}

header #branding img {
  margin: 0;
  padding-top: 15px;
  width: 160px;
}

header nav {
  float: right;
  margin-top: 15px;
  font-weight: 300;
}

header a:hover {
  color: #ff5252;
}

/*** Hero Section ***/
#Hero {
  background-image: url("../images/SH_Images/hero_image.png");
  background-repeat: no-repeat;
  background-position: center 60px;
  width: 100%;
  display: block;
  margin: auto;
  min-height: 700px;
  max-height: 700px;
}

.showcase1 img {
  width: 30%;
  float: left;
  margin: auto;
  margin-top: 220px;
}

.showcase2 {
  width: 65%;
  float: left;
  margin: auto;
  margin-left: 5%;
  margin-top: 50px;
}

#Hero h1 {
  font-family: 'Montserrat', sans-serif;
  margin-top: 350px;
  text-align: left;
  font-size: 30px;
  font-weight: 500;
  color: #ffffff;
  line-height: 1.4;
}

#Hero p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.6;
}

/*** Paragraphs Styling ***/
#problem h2 {
  margin-top: 100px;
}

.paragraph_wrapper {
  width: 60%;
  margin-left: auto;
  margin-right: auto;

}

  h2 {
  font-size: 35px;
  font-weight: 700;
  margin: 80px 0 15px 0;
  padding: 0;
}

  p {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  margin: 0;
  padding: 0 0 20px 0;
}

/*** Deliverables Section ***/
#deliverables {
  background-color: rgba(216, 216, 216, 0.2);
  padding: 50px 0px 50px 0px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 20px;
}

#deliverables .box {
  float: left;
  width: 33%;
  text-align: center;
}

#deliverables h3 {
  font-size: 24px;
  font-weight: 500;
  margin: 10px 0 10px 0;
  padding: 0;
}

#deliverables li {
  line-height: 30px;
  font-weight: 300;
}

/**** Button Styling ***/
a {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #ff5252;
  text-decoration: none;
}

a:hover{
  color: #F58454;
}

.button:hover i {
  color: #F58454;
}

.fa-caret-right {
  color: #ff5252;
}

/*** Solutions Section ***/
#solution img {
  width: 100%;
  margin: auto;
  display: block;
  margin-top: 40px;
}

/*** User Survey Section ***/
#user_survey li {
  line-height: 28px;
  font-size: 18px;
  font-weight: 300;
}

#user_survey ul {
  margin-bottom: 20px;
}

/*** User Survey Results Section ***/
#user_results {
  width: 100%;
  background-image: url("../images/SH_Images/survey_image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding-top: 60px;
  padding-bottom: 20px;
}

.actual_results {
  width: 70%;
  margin: auto;
}

#user_results li {
  font-size: 20px;
  color: #ffffff;
}

#user_results span {
  font-size: 30px;
  font-weight: 500;
  float: left;
  width: 12%;
  margin: auto;
  padding-bottom: 30px;
}

.result {
  width: 88%;
  font-weight: 400;
  margin: auto;
  text-align: left;
  line-height: 1.7;
  padding-bottom: 40px;
}

/*** Competitive Analysis Section ***/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-top: 5%;
}

/**** User Persona Section ***/
.users1 {
  display: block;
  float: left;
  margin-left: 11.5%;
  margin-right: 1%;
  margin-top: 30px;
  width: 25%;
}

.users2 {
  display: block;
  float: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 25%;
}

.users3 {
  display: block;
  float: left;
  margin-left: 1%;
  margin-right: 11.5%;
  margin-top: 30px;
  width: 25%;
}

/*** TargetAudience_Differentiators ***/
#TargetAudience_Differentiators {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #ffffff;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.wrapper2 {
  width: 53%;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}

.results1 {
  width: 33%;
  float: left;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 20px 0 0 20px;
}

.results2 {
  width: 33%;
  float: left;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 0px;
  margin-left: 0.5%;
}

.results3 {
  width: 33%;
  float: right;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 0px 20px 20px 0px;
}

.audienceimages {
  margin: auto;
  width: 90%;
}

#TargetAudience_Differentiators h3 {
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 24px;
  font-weight: 500;
}

/*** User Stories Section ***/
.usersflow {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 85%;
}

.usersflow5 {
  padding-left: 7.5%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 70px;
  width: 65%;
}

#userstory {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 100%;
  background-color: rgba(216, 216, 216, 0.2);
  padding-top: 50px;
  border-radius: 0px;
}

#userstory h3 {
  font-size: 22px;
  font-weight: 500;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 55px;
  margin-bottom: 10px;
}

#userstory .first {
  margin-top: 10px;
}

#userstory p {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 0;
  margin-top:0;
  margin-bottom: 0;
}

#userstory span {
  font-weight: 500;
}

/*** Wireframe Sections ***/
#Wireframe_images {
  width: 100%;
  margin: auto;
  background-color: #4A4A4A;
  margin-top: 40px;
  border-radius: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container_2 {
  width: 85%;
  margin: auto;
  overflow: hidden;
}
.wireframe1 {
  width: 16.5%;
  float: left;
  margin-left: 5%;
  margin-top: 5%;
}

.wireframe2{
  width: 16.5%;
  float: left;
  margin-left: 1.875%;
  margin-top: 5%;
}

.wireframe3 {
  width: 16.5%;
  float: left;
  margin-left: 1.875%;
  margin-top: 5%;
}

.wireframe4{
  width: 16.5%;
  float: left;
  margin-left: 1.875%;
  margin-right: 1.875%;
  margin-top: 5%;
}

.wireframe5{
  width: 16.5%;
  float: left;
  margin-right: 5%;
  margin-top: 5%;
}

.wireframe6{
  width: 16.5%;
  float: left;
  margin-left: 23.37%;
  margin-top: -17%;
}

.wireframe7{
  width: 16.5%;
  float: left;
  margin-left: 1.875%;
  margin-top: -17%;
}

.wireframe8 {
  width: 16.5%;
  float: left;
  margin-left: 1.875%;
  margin-right: 23.37%;
  margin-top: -17%;
}

.wireframe-explain {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  display: inline-block;
  padding-bottom: 50px;
  padding-top: 50px;
  padding-left: 27.5%;
  padding-right: 27.5%;
  color: #ffffff;
}


/*** User Testing Section ***/
.video {
  display: block;
  margin: 0 auto;
}

/*** High fidelity Section ***/
#high_fidelity_2 {
  width: 80%;
  margin: auto;
  background-color: #ffffff;
  border-radius: 20px;
  margin-top: 0px;

}

.highfi {
  display: block;
  width: 100%;
  float: left;
  margin: auto;
}

.image1 {
  width: 20%;
  float: left;
  margin: auto;
  margin-left: 20%;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, .5);
}

.image2 {
  width: 20%;
  float: left;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 30px;
  margin-left: 20%;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, .5);
}

#high_fidelity_2 h4 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 500;
  color: #6BA6D3;
  text-align: center;
}

#high_fidelity_2 ol {
  float: left;
  margin: auto;
  margin-left: 5%;
  width: 35%;
}

#high_fidelity_2 .problem {
  margin-top: 50px;
}

#high_fidelity_2 .solution {
  margin-top: 150px;
}

#high_fidelity_2 li {
  margin: 15px 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}

#high_fidelity_2 .first {
  padding: 5px 0 0 0;
  margin: 0;
}

#high_fidelity_2 h5 {
  font-size: 28px;
  font-weight: 600;
  padding-top: 30px;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/*** branding section ***/
#branding2 {
  width: 70%;
  margin: auto;
  background-color: rgba(216, 216, 216, 0.2);
  border-radius: 20px;
  margin-top: 40px;
  padding: 60px;
  }


#branding2 .brand-paragraph {
  width: 48%;
  padding-left: 2%;
  float: left;
  display: block;
  margin: auto;
}

#branding2 .brand-paragraph2 {
  width: 60%;
  display: block;
  margin: auto;
}

#branding2 .brand2 {
  padding: 0;
  margin: 0 0 15px 0;
  font-size: 28px;
  font-weight: 600;
}

#branding2 h4 {
  padding: 25px 0 0 0;
  margin: 0 0 15px 0;
  font-size: 28px;
  font-weight: 600;
}

#branding2 .logo-image {
  width: 50%;
  float: left;
  display: block;
  margin: auto;
  margin-top: 20px;
}

#branding2 .text-example {
  width: 75%;
  margin: auto;
  margin-top: 5px;
  display: block;
}

#branding2 .color-image {
  width: 33%;
  float: left;
  padding-left: 8%;
  padding-right: 2%;
  padding-top: 50px;
  display: block;
  margin: auto;
}

/*** Final Product Section ***/
#Final_product_images {
  width: 100%;
  margin: auto;
  background-color: #4A4A4A;
  margin-top: 40px;
  border-radius: 0px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.clearfix {
  overflow: auto;
}

.container2 {
  width: 48%;
  margin: auto;
  overflow: hidden;
}

#Final_product_images h4 {
  font-size: 28px;
  font-weight: 600;
  padding: 0;
  margin: 0 0 5px 0;
  color: #ffffff;
}

.final1 {
  width: 16.5%;
  float: left;
  margin-left: 5%;
  margin-top: 40px;
}

.final2{
  width: 16.5%;
  float: left;
  margin-left: 1.875%;
  margin-top: 40px;
}

.final3 {
  width: 16.5%;
  float: left;
  margin-left: 1.875%;
  margin-top: 40px;
}

.final4{
  width: 16.5%;
  float: left;
  margin-left: 1.875%;
  margin-right: 1.875%;
  margin-top: 40px;
}

.final5{
  width: 16.5%;
  float: left;
  margin-right: 5%;
  margin-top: 40px;
}

.final6{
  width: 16.5%;
  float: left;
  margin-left: 23.37%;
  margin-top: -21%;
}

.final7{
  width: 16.5%;
  float: left;
  margin-left: 1.875%;
  margin-top: -21%;
}

.final8 {
  width: 16.5%;
  float: left;
  margin-left: 1.875%;
  margin-right: 23.37%;
  margin-top: -21%;
}

/*** Key Learnings ***/
.keylearning {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  color: #1A1B3A;
  font-weight: 300;
  line-height: 28px;
}

#KeyLearnings ol {
  list-style-position: inside;
  padding-left: 0;
}

#KeyLearnings li {
  margin-bottom: 30px;
}

#KeyLearnings span {
  font-weight: 500;
}

/*** Footer Section ***/
footer {
  padding-top: 40px;
  padding-bottom: 20px;
  margin-top: 50px;
  color: #ffffff;
  background-color:#1A1B3A;
}
.container_3 {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.footer_info {
  width: 50%;
  float: left;
  margin: auto;
}
.footer1 {
  margin-top: 20px;
  text-align: left;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}

.footer2 {
  text-align: left;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 20px;
}

.footer_dog {
  float: left;
  width: 10%;
  margin-right: 30px;
}

.contact {
  font-size: 20px;
}

footer p {
  font-size: 16px;
  text-align: left;
}

footer .footer_icon {
  display: inline;
  padding: 0 5px 0 5px;
  color: #ffffff;
}

.links {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  float: right;
  width: 16%;
}

.footer_resume {
  float: right;
  color: #ffffff;
  margin: auto;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  margin-top: 20px;
}

.footer_icon:hover i {
  color: #F58454;
}


/*** Media Queries ***/
@media screen and (max-width: 768px) {
  .container {
    width: 80%;
  }

  .wow{
        animation-name: none !important;
        visibility: visible !important;
    }

  header {
    min-height: 30px;
    max-height: 30px;
    position: relative;
  }

  header #branding,
  header nav,
  header nav li {
    float: none;
    text-align: center;
    width: 100%;
  }

  header #branding img {
    width: 40%;
    padding-top: 10px;
  }

  header li {
    padding: 0 10px 0 10px;
  }

  #Hero {
  min-height: 700px;
  max-height: 700px;
  background-position: -400px 100px;
}

  .showcase1 img {
    width: 40%;
    margin-top: 300px;
  }

  .showcase2 {
  width: 58%;
  margin-left: 2%;
  margin-top: 90px;
}

#Hero h1 {
  margin-top: 250px;
}

.paragraph_wrapper {
  width: 85%;
}

#problem h2 {
  margin-top: 100px;
}

h2 {
  margin: 40px 0 15px 0;
}


#deliverables {
  padding: 50px 0px 50px 0px;
  width: 100%;
  margin-top: 20px;
  border-radius: 0;
}

.actual_results {
  width: 90%;
}

#user_results li {
  line-height: 45px;
  font-size: 18px;
}

#user_results span {
  font-size: 25px;
  font-weight: 500;
  padding-bottom: 50px;
}

.center {
  width: 90%;
}

.users1 {
  display: block;
  float: left;
  margin-left: 4%;
  margin-right: 1%;
  margin-top: 30px;
  width: 30%;
}

.users2 {
  display: block;
  float: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 30%;
}

.users3 {
  display: block;
  float: left;
  margin-left: 1%;
  margin-right: 4%;
  margin-top: 30px;
  width: 30%;
}

#TargetAudience_Differentiators {
  width: 100%;
  border-radius: 0px;
}

.wrapper2 {
  width: 65%;
}

.audienceimages {
  margin: auto;
  width: 90%;
}

#userstory {
  width: 100%;
  padding-top: 50px;
  border-radius: 0px;
}

.usersflow {
  width: 90%;
}

.usersflow5 {
  padding-left: 5.5%;
}


#Wireframe_images {
  padding-top: 40px;
  width: 100%;
  border-radius: 0px;
}


.wireframe-explain {
  display: block;
  width: 70%;
  padding-left: 15%;
  padding-right: 15%;
  margin: auto;
  float: left;
  color: #ffffff;
}

#high_fidelity_2 {
  width: 100%;
}

.highfi {
  display: block;
  width: 100%;
  float: none;
  margin: auto;
}

.image1 {
  width: 35%;
  display: block;
  margin: auto;
  float: none;
}

.image2 {
  width: 35%;
  display: block;
  margin: auto;
  float: none;
  margin-top: 50px;
  margin-bottom: 0px;
}

#high_fidelity_2 .problem {
  margin-top: 20px;
}

#high_fidelity_2 .solution {
  margin-top: 20px;
}


#high_fidelity_2 ol {
  display: block;
  margin: auto;
  float: none;
  width: 60%;
}


#branding2 {
  width: 100%;
  border-radius: 0px;
  padding: 40px 0 40px 0;
  margin: 40px 0 0 0;
  }

  #branding2 .brand-paragraph {
    width: 70%;
    float: none;
  }

  #branding2 .brand-paragraph2 {
  width: 68%;
  margin: auto;
  float: none;
}

#branding2 .logo-image {
  width: 60%;
  float: none;
}

#branding2 .text-example {
  width: 85%;
  float: none;
}

#branding2 .color-image {
  width: 40%;
  float: none;
  padding: 0;
}

#Final_product_images {
  width: 100%;
  border-radius: 0px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.container2 {
  width: 68%;
}

.footer_dog {
  width: 15%;
}
}

@media screen and (max-width: 400px) {
  .container {
  width: 85%;
  margin: auto;
  overflow: hidden;
}

#Hero {
  background-image: url("../images/SH_Images/hero_image.png");
  background-position: right 100px;
  min-height: 700px;
  max-height: 700px;
}

header #branding img {
  width: 60%;
  padding-top: 10px;
}
.showcase1 img {
  display: none;
}

  .showcase2 {
  width: 100%;
  margin-left: 0%;
}

#Hero h1 {
  font-family: 'Montserrat', sans-serif;
  margin-top: 250px;
  text-align: left;
  font-size: 30px;
  font-weight: 500;
  color: #ffffff;
  line-height: 1.4;
}
#problem h2 {
  margin-top: 50px;
}
#deliverables {
  padding: 0;
  padding-bottom: 50px;
}

#deliverables .box {
  float: none;
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.actual_results {
  width: 90%;
}

#user_results span {
  font-size: 40px;
  float: left;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
}

.result {
  width: 100%;
  padding-bottom: 40px;
}

.users1,
.users2,
.users3 {
  display: block;
  float: none;
  margin: auto;
  margin-top: 30px;
  width: 90%;
}

.wrapper2 {
  width: 75%;
}

.results1 {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 0px;
  border-radius: 20px 20px 0 0;
}

.results2 {
  width: 100%;
  margin-top: 2px;
  margin-bottom: 0px;
}

.results3 {
  width: 100%;
  margin-top: 2px;
  border-radius: 0 0 20px 20px;
}

.wireframe-explain {
  display: block;
  width: 70%;
  padding-left: 15%;
  padding-right: 15%;
  margin: auto;
  float: left;
  color: #ffffff;
}

.highfi {
  width: 100%;
}

.image1 {
  width: 70%;
}

.image2 {
  width: 70%;
}

#high_fidelity_2 ol {
  width: 80%;
}
  #branding2 .brand-paragraph {
    width: 80%;
    float: none;

  }

  #branding2 .brand-paragraph2 {
  width: 78%;
  margin: auto;
  float: none;

}

#branding2 .logo-image {
  width: 80%;
  float: none;
}

#branding2 .text-example {
  width: 100%;
  float: none;
}

#branding2 .color-image {
  width: 80%;
  float: none;
  padding: 0;
}

.footer_info {
  width: 100%;
  float: none;
  margin-top: 30px;
}

.footer_dog {
  width: 20%;
  float: none;
  display: block;
  margin: auto;
  }

.links {
  float: none;
  width: 100%;
  text-align: center;
}
}
